
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
}

.search-container {
  margin-bottom: 20px;
  display: flex;
  position: relative;
}

.search-input {
  width: calc(100% - 130px); /* Adjusted width to accommodate button */
  padding: 10px;
  font-size: 16px;
  border-radius: 8px; /* Rounded corners */
}

.search-button {
  padding: 10px 20px;
  background-color: #8099d7;
  color: black;
  border: none;
  cursor: pointer;
  margin-left: 24px; /* Added margin to create space */
  border-radius: 8px;
  width: 100px; /* Rounded corners */
}

.search-button:hover{
  background-color: #5e78ab;
}
.loading,
.error {
  text-align: center;
  color: rgb(80, 90, 235);
}

.news-list {
  list-style: none;
  padding: 0;
}

.news-item {
  margin-bottom: 20px;
}

.news-link {
  text-decoration: none;
  color: #333;
}

.news-box {
  background-color: #bfcded;
  border-radius: 8px;
  padding: 15px;
  transition: background-color 0.3s ease;
}

.news-box:hover {
  background-color: #8099d7;
}

.news-title {
  margin-bottom: 10px;
}

.news-description {
  margin: 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.page-button {
  padding: 10px 20px;
  background-color: #8099d7;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 100px;
}

.page-button:hover {
  background-color: #5e78ab;
}

.page-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.autocomplete-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100% - 24px);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0;
  margin-top: 5px;
  overflow: hidden;
}


.autocomplete-results li {
  list-style-type: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.autocomplete-results li:hover {
  background-color: #f0f0f0;
}